:root {
  --main: #2A3642;
  --grey: #555555;
}

* {
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin: 0%;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #13293d;
  background-image: linear-gradient(to bottom right, #83A7CC, rgb(74, 151, 214));
  color: #fff;
  overflow: hidden;
}

header h1 {
  font-size: 200%;
  margin: 0;
  color: var(--main);
  text-align: center;
}

.banner {
  width: 150px;
  border-radius: 40%;
}

nav ul {
  padding: 0;
  display: inline;
  justify-content: space-between;
  min-width: 300px;
  list-style: none;
}

nav a {
  color: var(--main);
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  max-width: 96%;
  margin: 2% 10%;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  gap: 50px;
}

.main-content h1 {
  font-size: xx-large;
  color: black;
}

.main-content h4 {
  color: var(--grey);
}

#work {
  align-items: flex-start;
}

.flex-container-work {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-basis: 1100px;
}

.project-image-big {
  display: flex;
  flex: 1 1 100%;
  position: relative;
  margin: 15px;
  border: 5px solid var(--grey);
}

.flex-container-work-small {
  flex: 2;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

/* create a text box on top of the image */
.text-block-large {
  position: absolute;
  bottom: 10%;
  right: 8%;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  padding-bottom: 5%;
  padding-left: 5%;
  padding-right: 10%;
}
.text-block-large h4, .text-block-large p {
  font-size: x-large;
}

.text-block {
  position: absolute;
  bottom: 10%;
  right: 8%;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  padding-left: 5%;
  padding-right: 5%;
}

.project-image {
  display: flex;
  flex: 0 0 45%;
  position: relative;
  margin: 15px;
  border: 5px solid var(--grey);
}

.flex-container-contact {
  display: flex;
  gap: 1rem;
  list-style-image: initial;
  list-style: none;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100%;

  /* alligns list elements with the bottom */
  margin: 0;
  padding: 0;
}

/* prevent phone number from wrapping */
.phone-info h4 {
  min-width: 100px;
}

/* styling for links */
#contact a:link , #contact a:visited{
  text-decoration: none;
  color: var(--grey);
}
#contact a:hover , #contact a:active {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 768px) {
  
}